{% extends "esign/base_email.html" %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-center align-items-center mt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6 offset-md-4 col-lg-4 offset-lg-4">
        <div class="email-wrapper">
          <div class="card">
            <div class="card-header">
              <a href="/" class="logo">
                <span class="">
                    <img src="{% static 'assets/images/eazee-sign-logo-final.png' %}" alt="logo-large" class="logo-lg logo-light" style="height: 40px;">
                </span>
            </a>
            </div>
            <div class="card-body">
              <div class="content">
                <p>Subject: Password Change</p>
                <h4 style="margin-bottom: 30px;">Dear [Name],</h4>

                <p>Your EazeeSign password has recently changed. </p>
                
                <div class="design-container" style="text-align:center; background-color: #4114a6; padding: 45px 15px; border-radius:8px; margin-bottom: 20px;">
                  <p><img src="{% static 'assets/images/password-icon.png' %}" alt="logo-large" class="" style="height: 60px;"></p>
                  <p style="color: #FFFFFF; margin-bottom: 0px;">Password Changed </p>
                </div>

                <p>If you did not intend to do this, please visit EazeeSign and Click Forgot Password to reset your password.</p>
                <p>Best regards,</p>

                <p>EazeeSign Team</p>
              </div>             
            </div>
          </div>
          <div class="email-footer">
            <p>Copyright &copy; EazeeSign <script> document.write(new Date().getFullYear()) </script> All rights reserved.</p>
            <p class="font-size:0.80%;">This is an automated email. Please do not reply.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
