{% extends 'esign/base_login.html' %}
{% block content %}

<div class="d-flex justify-content-center align-items-center min-vh-100">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
				<div class="card p-4 shadow">
					<p class="text-center mb-4"><i class="iconoir-check text-success display-4 border rounded-circle p-3"></i></p>
					<h4 class="text-success">Thank You !</h4>
					<p>We have received your signature.</p>

					<!-- <p ><a href="/" class="btn btn-primary d-inline-block"> Return to Dashboard</a></p> -->
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
