{% extends 'esign/base_login.html' %}
{% block content %}

<div class="d-flex justify-content-center align-items-center min-vh-100">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
				<div class="card p-4 shadow">
					<p class="text-center mb-4"><i class="iconoir-warning-circle-solid text-danger display-4 border rounded-circle p-3"></i></p>
					<h4 class="text-danger">Coming Soon</h4>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
