{% extends 'esign/base_login.html' %}
{% block content %}

<div class="d-flex justify-content-center align-items-center mt-5">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
				<div class="card p-4 shadow">
					<p class="text-center mb-4">
                        <span class="bg-success p-2 rounded-circle d-inline-block bg-opacity-10">
						    <i class="fas fa-check-circle text-success display-4 bg-success-subtle rounded-circle p-3"></i>
                        </span>
                    </p>
					<h3 class="text-success fw-bold">Payment Successful !</h3>
					<p>Your payment was processed successfully. You are now a member of EazeeSign <br class="d-none d-md-block"> and can start using EazeeSign instantly.</p>

                    <!-- Button to go to dashboard -->
                    <a href="{% url 'index' %}" class="btn btn-primary mt-3 w-50">Go to Dashboard</a>

				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
